Source: mapnik-input-plugin-coords
Maintainer: Robert Buchholz <rbuch703@gmail.com>
Section: misc
Priority: optional
Standards-Version: 3.9.5
Build-Depends: debhelper (>= 9), libboost1.54-dev, libmapnik-dev, libicu-dev, cmake

Package: mapnik-input-plugin-coords
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Mapnik Plugin to support COORDS data sources
 COORDS is a new storage backend for OpenStreetMap render servers. The 
 wide-spread canonical storage backend for OSM is based on Postgres/PostGIS,
 is relatively slow and has huge hardware requirements. In contrast the COORDS
 storage backend is written from scratch and uses a file-based storage 
 developed specifically to efficiently handle those data queries that are 
 typical when rendering maps from OSM data.
 This package contains the Mapnik plugin that allows Mapnik to *read* from
 a COORDS data source. The tools to create and maintain the COORDS storage are
 found in a different package.
