#!/usr/bin/make -f
%:
	dh $@

override_dh_shlibdeps:
	dh_shlibdeps
	dpkg-shlibdeps \
           -Tdebian/mapnik-input-plugin-coords.substvars \
           debian/mapnik-input-plugin-coords/usr/lib/mapnik/input/coords.input
